[Desktop Entry]
Name=Syringepump
Comment=
GenericName=syringe pump control program
Exec=/usr/bin/syringepump
Terminal=false
Icon=syringepump
Type=Application
